#newTemplateButton {
  background-color: #555555;
  color: black;
  font-size: 12px;
}

#loadButton {
  background-color: #5e5e5e;
  color: black;
  font-size: 12px;
  image: url("/Volumes/Projetos/Git/Elemental/ElementalTools/SystemFiles/UserSettings/Themes/darkTheme/resources/arrows/down.png");
}

#addButton {
  background-color: #6a6a6a;
  color: black;
  font-size: 12px;
}

#removeButton {
  background-color: #797979;
  color: black;
  font-size: 12px;
}

#saveButton {
  background-color: #8d8d8d;
  color: black;
  font-size: 12px;
}

#exportButton {
  background-color: #a9a9a9;
  color: black;
  font-size: 12px;
}

#importButton {
  background-color: #d3d3d3;
  color: black;
  font-size: 12px;
}

