QMainWindow {
    background-color: #1A1714;
    font-family: "Inter";
    border-radius: 10px;
}

QStatusBar {
    background-color: #1A1714;
    color: white;
}

QPushButton {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 7px;
    color: white;
    min-height: 25px;
}

QPlainTextEdit {
    background-color: #1A1714;
    border-radius: 10px;
    color: rgb(196,196,196);
}

QDockWidget {
    background-color: #1A1714;
    color: white;
}




