QComboBox {
    font-weight: bold;
    border-radius: 7px;
    background-color: #7D8888;
    color: #2E5455;
}

QLabel {
    font-weight: bold;
    color: #2E5455;
    border-radius: 7px;
}

QStatusBar {
    font-weight: bold;
    color: #2E5455;
    border-radius: 7px;
}

QComboBox::drop-down {
    width: 25px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #A8A7AC;
    color: black;
}

QComboBox::down-arrow {
    image: url("resources/arrows/down.png");
    width: 15px;
    height: 15px;
}

QLineInput {
    border:none;
    border-radius: 5px;
}

QLineInput:disabled {
    background-color: transparent;
    border-radius: 5px;
}

QLineInput:enabled {
    background-color: white;
    border-radius: 5px;
}

QLabel {
    font-weight: bold;
    color: rgb(196,196,196);
    border-radius: 7px;
}

QMenuBar {
    border-radius: 10px;
}

QScrollBar {
    border-radius: 8px;
    min-width:25px;
    min-height:25px;
}

QScrollBar:vertical {
    background-color: #3B3D3D;
    min-width: 25px;
}

QScrollBar::handle {
    background-color: #4A8688;
    border-radius: 8px;
    min-height: 25px;
}

QScrollBar::handle:hover {
    background-color: #2E5455;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    border: none;
    height: 0;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background-color: transparent;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: none; /* remove the scrollbar buttons */
    height: 0; /* make the buttons disappear */
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background-color: transparent; /* make the scrollbar track transparent */
}