QMainWindow {
    background-color: #1A1714;
    border-radius: 10px;

}

QStatusBar {
    background-color: #1A1714;
    color: white;
}

QPushButton {
    background-color: #7D8888;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    border-radius: 5px;
    color: #2E5455;
    min-height: 25px;
    min-width: 25px;
}

QPushButton::hover {
    border: 2px solid #2E5455;
    color: #2E5455;
}

QPushButton::pressed {
    border: 3px solid gray;
    background-color: #2E5455;
    color: #7D8888;
}

QPlainTextEdit {
    background-color: #1A1714;
    border-radius: 10px;
    color: rgb(196,196,196);
}

QDockWidget {
    background-color: #1A1714;
    color: white;
}




